/* The color palette for the portfolio for easy plugin. */
:root {
    --black: #1c1d21;
    --paleNavy: #445877;
    --white: #eeeef7;
    --teal: #92ccce;
    --darkgray: #31343d;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--white);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: var(--darkgray);
    padding: 0 50px 0 0;
}

.name {
    margin: 10px 0;
    padding: 5px 5px 5px 60px;
    background: #92ccce;
    color: var(--darkgray);
}

ul li {
    /* Removes the bullets from the standard list design. */
    list-style-type: none;
    /* Inline-flex allows for the list to be side by side rather than columned. */
    display: inline-flex;
    /* Works intandum with display: inline-flex */
    flex-direction: row;
    margin-right: 5px;
    font-size: smaller;
    cursor: pointer;
    border-bottom: 3px solid var(--teal);
    padding: 0 10px 0 10px;
}

/* Needed this so that the nav bar on the site didn't have the standard underline decoration. */
li a {
    text-decoration: none;
    color: var(--teal);
}

.bannerImage {
    display: flex;
    background-image: url('/assets/model\ banner.jpg');
    height: 33vh;
    min-width: 100vh;
    flex: 1;
    margin-bottom: 40px;
}

/*  */
.bannerText {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    background: var(--teal);
    color: var(--darkgray);
    margin: 0 0 30px 40px;
    padding: 10px;
}

/*  */
.bannerText h3 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--paleNavy);
    width: 100%;
    margin: 0;
    align-items: center;
    flex: 80%;
}

main section {
    display: flex;
    width: 80%;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.column_left {
    display: flex;
    margin: 0;
    padding: 10px 10px 0 0;
    text-align: right;
    word-wrap: normal;
    font-size: 1.5em;
    align-items: flex-start;
    justify-content: flex-end;
    width: 25%;
}

.column_right{
    display: flex;
    flex-flow: row wrap;
    border-left: 3px solid var(--paleNavy);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#aboutme p {
    margin: 0;
    justify-content: center;
    align-self: center;
    font-size: 0.75em;
    padding: 20px;
}

.project1 {
    width: 100%;
    flex: 100%;
    background-image: url(/assets/bizwork.jpg);
    background-size: 100%;
    margin: 10px;
    border: 3px solid var(--teal);
}

/* Once actual projects are inserted this will need to be made into different classes so that there are different images for each of the projects. */
.others {
    background-image: url(/assets/bizwork.jpg);
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 3px solid var(--teal);
    flex: 33%;
}

.projecttext {
    color: white;
    background: var(--teal);
}

#contactme p {
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    flex-flow: row wrap;
    padding-left: 20px;
    cursor: pointer;
}

#contactme a {
    text-decoration: underline;
    color: var(--paleNavy);
}