/* The color palette for the portfolio for easy plugin. */
:root {
    --black: #1c1d21;
    --paleNavy: #445877;
    --white: #eeeef7;
    --teal: #92ccce;
    --darkgray: #31343d;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--white);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: var(--darkgray);
    padding: 0 50px 0 0;
}

.name {
    margin: 10px 0;
    padding: 5px 5px 5px 60px;
    background: #92ccce;
    color: var(--darkgray);
}

ul li {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 5px;
    font-size: smaller;
    cursor: pointer;
    border-bottom: 3px solid var(--teal);
    padding: 0 10px 0 10px;
}

li a {
    text-decoration: none;
    color: var(--teal);
}

.bannerImage {
    display: flex;
    background-image: url('/assets/model\ banner.jpg');
    height: 300px;
    flex: 0 1 1;
}

/*  */
.bannerText {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    background: var(--teal);
    color: var(--darkgray);
    margin: 0 0 30px 40px;
    padding: 10px;
}

/*  */
.bannerText h3 {
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    color: var(--paleNavy);
    width: 90%;
    margin: 0;
}

main section {
    display: flex;
    width: 100%;
}

main h1 {
    border-right: 3px solid;
    padding: 10px 10px 10px 0;
    margin-left: 100px;
    text-align: right;
    font-size: xx-large;
    align-items: flex-start;
    height: 100%;
}

#aboutme p {
    margin: 15px 50px 20px 30px;
    justify-content: center;
    align-self: center;
    font-size: x-small;
}

.workGrid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project1 {
    flex: 0 1 1;
    width: 89.25%;
    background-image: url(/assets/bizwork.jpg);
    background-size: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

/* Once actual projects are inserted this will need to be made into different classes so that there are different images for each of the projects. */
.others {
    background-image: url(/assets/bizwork.jpg);
    width: 44%;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#contactme li {
    justify-content: space-evenly;
    align-items: center;
}